/*********** PAGE LOGO ***********/
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

/*********** SEARCH BOX ***********/
.search {
    display: flex;
    flex: 0 0 40%;
    align-items: center;
    justify-content: center;

    &__input {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-gray-light-2);
        border: none;
        border-radius: 100px;
        margin-right: -3.25rem;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .2s;

        &:focus {
            background-color: var(--color-gray-light-3);
            outline: none;
            width: 100%;
        }

        &::placeholder {
            font-weight: 100;
            color: var(--color-gray-light-4);
        }

    }

    &__input:focus + &__button {
        background-color: var(--color-gray-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-gray-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-gray-dark-3);
    }
}

/*********** USER NAV ***********/
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 2rem;
        cursor: pointer;
    }

    & > *:hover {
        background-color: var(--color-gray-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-gray-dark-2);  
    }

    &__notification {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-primary);
        border-radius: 50%;
        color: #fff;
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

/*********** SIDE NAV ***********/
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    }

    &__item:hover::before, 
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link, 
    &__link:visited {
        display: block;
        padding: 1.5rem 3rem;
        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 2rem;
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor;
    }
}

/*********** LEGAL TEXT ***********/
.legal {
    color: var(--color-gray-light-4);
    padding: 2.5rem;
    font-size: 1.2rem;
    text-align: center;

    &__attribution {
        &-link:link,
        &-link:visited {
            color: var(--color-primary);
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
        }

        &-icon {
            color: #FF4C4C;
        }
    }
}

/*********** HOTEL GALLERY ***********/
.gallery {
    display: flex;

    &__photo {
        display: block;
        width: 100%;
    }
}

/*********** HOTEL OVERVIEW ***********/
.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
    
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        display: flex;
        margin-right: auto;
    }

    &__icon-star, 
    &__icon-location {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

/*********** LOCATION BUTTON ***********/
.btn-inline {
    display: inline-block;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    padding-bottom: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-gray-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/*********** HOTEL DESCRIPTION PARAGRAPH ***********/
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

/*********** HOTEL FEATURES LIST ***********/
.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        margin-right: .7rem;
        height: 1rem;
        width: 1rem;
        background-color: var(--color-primary);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;
    }
}

/*********** USER RECOMMENDATION ***********/
.recommend {
    display: flex;
    align-items: center;
    color: var(--color-gray-dark-3);
    font-size: 1.3rem;

    &__count {
        margin-right: auto;
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

/*********** USER REVIEWS ***********/
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 4rem;
    margin-left: 4rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    &__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        margin-right: 1.5rem;
        border-radius: 50%;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-gray-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
    
    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        font-family: sans-serif;
        color: var(--color-gray-light-2);
        line-height: 1;
        z-index: 1;
    }
}