.container {
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    max-width: 120rem;
    margin: 8rem auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: var(--line);
    font-size: 1.4rem;
    height: 7rem;
}

.content {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-gray-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
}

.user-reviews {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}