.popup { 
    background-color: rgba($color-black, .8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: all .3s;

    &__content {
        @include absCenter;

        display: table;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        opacity: 0;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        padding: 3rem 5rem;
        vertical-align: middle;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        hyphens: auto;
    }

    // POPUP OPEN STATES
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited { 
            display: inline-block;
            color: $color-gray-dark;
            font-size: 3rem;
            text-decoration: none;
            line-height: 1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}