.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    align-items: center;
    list-style: none;

    &__link:link, 
    &__link:visited {
        display: block;
        padding: 1.5rem;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;
    }

    &__link:hover, 
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    color: $color-gray-light-2;
    font-size: 1.4rem;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;

    a {
        color: $color-primary;
    }

    .attr_heart {
        color: #FF4C4C;
    }
}