.homes {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
    margin: 15rem 0;
}

.home {
    background-color: $color-gray-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;

    &__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
    }

    &__like {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        fill: $color-primary;
        margin: 1rem;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 2;
        justify-self: end;
    }

    &__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
        padding: 1.25rem;
        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        background-color: $color-secondary;
        color: #fff;
        z-index: 3;
        transform: translateY(50%);
    }

    &__location, 
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location, 
    &__rooms, 
    &__area, 
    &__price {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 1.5rem;

        svg {
            fill: $color-primary;
            margin-right: 1rem;
            height: 2rem;
            width: 2rem;
        }
    }

    &__btn {
        grid-column: 1 / -1
    }
}