*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // This translates to 10px and define what 1rem is.
}

body {
    box-sizing: border-box;
}
